* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    user-select: none;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    border-radius: 50px;
    border: 2px solid white;
    text-shadow: 1px 0 3px black;
    box-shadow: 1px 1px 3px 0 black;
}

a:hover {
    text-shadow: 1px 1px 3px grey;
    background-color: white;
    color: #0044ff;
}

.flex-center {
    display: flex;
    max-width: 950px;
    margin: auto;
}

#up-bar {
    background-color: #0044ff;
    height: 80px;
    padding: 20px 0;
}

#header-bar {
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 100%;
}

#super-title {
    user-select: none;
    font-size: 25pt;
    text-shadow: 1px 0 3px black;
}

#page-links {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

#page-links li {
    margin: 5px;
}

#flex-turismos {
    padding: 50px 0;
    align-items: center;
    justify-content: space-around;
}

#flex-turismos #main-header {
    min-height: 200px;
    text-shadow: 1px 1px 1px grey;
}

#main-header #title {
    font-size: 35pt;
    color: #0044ff;
    line-height: 45px;
    margin-bottom: 10px;
}

#main-header p {
    font-size: 15pt;
    margin-bottom: 10px;
}

#flex-turismos a, #planos a {
    display: block;
    text-align: center;
    width: 100px;
    color: #0044ff;
    border-color: #0044ff;
    text-shadow: 1px 0 1px grey;
}

#flex-turismos a:hover, #planos a:hover {
    background-color: #0044ff;
    color: white;
    text-shadow: 1px 0 3px black;
}

.images {
    display: block;
    width: 100%;
    height: auto;
    max-width: 500px;
}

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0 100px 0;
}

#quemsomos-header .subtitle, #planos-header .subtitle {
    display: flex;
    color: #0044ff;
    text-shadow: 1px 1px 1px grey;
}

#quemsomos-header .subtitle::before, #planos-header .subtitle::before {
    content: "";
    margin-right: 8px;
    height: 50px;
    width: 8px;
    background-color: #0044ff;
    box-shadow: 1px 0 3px 0 black;
}

#content p {
    width: 400px;
    font-size: 13pt;
    text-align: justify;
    margin: 20px 0;
    text-shadow: 1px 0 2px silver;
}

#mid-bar {
    background-color: #0044ff;
    width: 100%;
}

#servicos, #planos {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos-header .subtitle {
    display: flex;
    color: white;
    text-shadow: 1px 0 3px black;
}

#servicos-header .subtitle::before {
    content: "";
    margin-right: 8px;
    height: 50px;
    width: 8px;
    background-color: white;
    box-shadow: 1px 0 3px 0 black;
}

#tipos-servicos, #tipos-planos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subtitle {
    font-size: 25pt;
}

#tipos-servicos .nossos-servicos, #tipos-planos .nossos-planos {
    text-align: center;
    color: white;
    padding: 20px;
    margin: 30px 0;
}

.servicos-icon, .servicos-icon img {
    margin-bottom: 20px;
}

.servicos-icon img {
    display: block;
    width: 170px;
    height: 170px;
    margin: auto;
}

.servicos-icon figcaption{
    margin-top: 20px;
    font-size: 15pt;
    text-shadow: 1px 0 3px black;
    font-weight: 700;
}

#icon-1 img, #icon-2 img {
    margin: 0 38.51px;
}

.blue-line {
    margin: auto;
    width: 80%;
    height: 2px;
    margin-top: 20px;
    background-color: #0044ff;
}

.subtitle-tipos {
    font-size: 20pt;
    color: #0044ff;
    text-shadow: 1px 0 1px grey;
}

.box-size {
    flex: 1;
    margin: auto;
    padding: 20px 5px;
    width: 250px;
    border: 3px solid #0044ff;
    box-shadow: 10px 10px 15px 0 silver;
}

.box-size a {
    margin: auto;
}

.box-size .lista-planos {
    color: #0044ff;
    text-align: left;
    font-size: 13pt;
    margin: 30px 0 30px 50px;
}

#tipos-planos {
    align-items: flex-end;
}

#bottom-bar {
    height: 80px;
    padding: 20px 0;
    background-color: #0044ff;
}

#footer-bar {
    user-select: none;
    align-items: center;
    justify-content: space-between;
    font-size: 12pt;
    color: white;
    height: 100%;
}

#footer-bar p {
    text-shadow: 1px 0 3px black;
}

#name {
    font-weight: bolder;
}

@media (max-width: 990px) {
    .flex-center {
        margin: 0 20px 0 20px;
    }

    #header-bar, #footer-bar {
        max-width: 750px;
        margin: auto;
    }

    #quem-somos {
        flex-direction: column;
        text-align: center;
    }

    #content p {
        font-size: 15pt;
        width: 80%;
        margin: 20px auto;
    }
}

@media (max-width: 850px) {
    #header-bar, #footer-bar {
        max-width: 600px;
        margin: auto;
    }

    #flex-turismos {
        height: auto;
        flex-direction: column;
    }

    #flex-turismos #main-header {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    #main-header .desloca {
        margin-right: 200px;
    }
}

@media (max-width: 650px) {
    #header-bar {
        flex-direction: column;
        justify-content: flex-start;
    }

    #up-bar {
        height: 100px;
    }

    #footer-bar {
        flex-direction: column;
        justify-content: space-around;
    }

    #main-header .desloca {
        margin-right: 0;
    }
}

@media (max-width: 330px) {
    #page-links a {
        font-size: 8pt;
    }

    .subtitle {
        font-size: 24pt;
    }
}